{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
	{% if user.is_authenticated %}
		<h1>Rango says... hello {{ user.username }}!</h1>
	{% else %}
		<h1>Rango says... hello world!</h1>
	{% endif %}
    {% if categories %}
    	<h4>Top 5 Categories</h4>
        <ul>
            {% for category in categories %}
            	<!-- Following line changed to add an HTML hyperlink -->
            	<li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
	    {% if user.is_authenticated %}
			<li><a href="/rango/add_category/">Add a New Category</a></li>
	    {% endif %}
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}
    {% if pages %}
    	<h4>Top 5 Pages</h4>
        <ul>
            {% for page in pages %}
            	<li><a href={{ page.url }}>{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no categories present.</strong>
    {% endif %}

{% endblock %}
